extends layout

block content

  #home.row
    .hero-unit
      h1 Secare Segmentation
      p Online CommonSense segmentation platform.

    h2 How does it work
    p
      | Secare uses data stored in the Sense-OS platform to segment your data.
      | You have to provide your username and password (shortly OAuth will be)
      | implemented!), after which you can choose which device and sensor you
      | want to visualise. The segmentation algorithms are:
    ul
      li RuLSIF
      li CUSUM
      li Roemer's Method

    p
      | The resulting segmentation is available as interactive chart, a rendered
      | png image or as a JSON api endpoint.




  #authenticate.row
    h2 Authentication
    p The first step is to authenticate yourself.
    form.form-horizontal
      .control-group
        label.control-label(for="username") Username
        .controls
          input#username(type="text", placeholder="CommonSense username")
      .control-group
        label.control-label(for="password") password
        .controls
          input#password(type="password", placeholder="CommonSense password")
      .control-group
        .controls
          button.btn(type="submit") Authenticate


  .row

    #devices.span4
      h2 Devices
      p Please select the device you wish to inspect.
      form
        .btn-group
          button.btn.dropdown-toggle(data-toggle="dropdown")
            | Device
            &nbsp;
            span.caret
          ul.dropdown-menu
            li
              a No devices

    #sensors.span4.offset1
      h2 Sensors
      p Please select the sensor you wish to inspect.
      form
        .btn-group
          button.btn.dropdown-toggle(data-toggle="dropdown")
            | Sensor
            &nbsp;
            span.caret
          ul.dropdown-menu
            li
              a No sensors


  #visualization.row
    #graph_container

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />