extends layout

block content

  #home.row
    .hero-unit
      h1 Secare Segmentation
      p Online CommonSense segmentation platform.

    h2 How does it work
    p
      | Secare uses data stored in the Sense-OS platform to segment your data.
      | You have to provide your username and password (shortly OAuth will be)
      | implemented), after which you can choose which device and sensor you
      | want to visualise. The segmentation algorithms are:
    ul
      li CUSUM: Use of Cumulative Sum for change in variance
      li SVCPD: Support Vector Change Point Detection
      li Method to be announced

    p
      | The resulting segmentation is available as interactive chart, a rendered
      | png image or as a JSON api endpoint.

  .row

    #devices.span4
      h2 Devices
      p Please select the device you wish to inspect.
      .btn-group
        button.btn.device Device
        button.btn.dropdown-toggle(data-toggle="dropdown")
          span.caret
        ul.dropdown-menu
          li
            a No devices

    #sensors.span4
      h2 Sensors
      p Please select the sensor you wish to inspect.
      .btn-group
        button.btn.sensor Sensor
        button.btn.dropdown-toggle(data-toggle="dropdown")
          span.caret
        ul.dropdown-menu
          li
            a No sensors
    
    #actions.span4
      h2 Actions
      p Start the segmentation process for this range.
      .btn-group
        button.btn.btn-primary.segment Segment
        button.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
          span.caret
        ul.dropdown-menu
          li: a(href="#", data-method='cusum', data-display='CUSUM') CUSUM
          li: a(href="#", data-method='svcpd', data-display='SVCPD') SVCPD
          li: a(href="#", data-method='roemer', data-display='Roemer') Roemer's method


  #visualization.row
    h2 Graph
    #graph_container
